- if params[:wday] == "0"
  - wwday = "月"
- elsif params[:wday] == "1"
  - wwday = "火"
- elsif params[:wday] == "2"
  - wwday = "水"
- elsif params[:wday] == "3"
  - wwday = "木"
- elsif params[:wday] == "4"
  - wwday = "金"
- else
  - wwday = "土"
- pperiod =params[:period].to_i
- pperiod = pperiod + 1
%h3
  = wwday
  曜日#{pperiod}時間目の授業
- if @lessons.present?
  = form_for(@user_status, :url=>{:controller=>"top", :action=>"create"}) do |f|
    %table
      %tr
        %th 授業名
        %th 先生名
        %th 教科書名
        %th 参考書名
        %th 単位数
        %th
      - @lessons.each do |lesson|
        %tr
          %td= lesson.name
          %td= lesson.teacher.name
          %td= lesson.textbook
          %td= lesson.referencebook
          %td= lesson.unit
          = f.hidden_field :lesson_id, value: lesson.id
          = f.hidden_field :user_id, value: "#{current_user.id}"
          %td= f.submit "追加"
        -# - else
        -#   - if params[:term_id] == "1"
        -#     %h3 前期の取得可能の授業はありません
        -#   - else
        -#     %h3 後期の取得可能授業はありません
      = link_to"トップに戻る" ,"/"
