- if params[:wday] == "0"
  - wwday = "月"
- elsif params[:wday] == "1"
  - wwday = "火"
- elsif params[:wday] == "2"
  - wwday = "水"
- elsif params[:wday] == "3"
  - wwday = "木"
- elsif params[:wday] == "4"
  - wwday = "金"
- else
  - wwday = "土"
- pperiod =params[:period].to_i
- pperiod = pperiod + 1

.row
  %h3= "#{wwday}曜日#{pperiod}時間目の授業"
  - if @lessons.present?
    %table.table-bordered.table-striped
      %tr
        %th.col-xs-2.col-lg-2 授業名
        %th.col-xs-2.col-lg-2 先生名
        %th.col-xs-3.col-lg-3 教科書名
        %th.col-xs-2.col-lg-2 参考書名
        %th.col-xs-1.col-lg-1 単位数
        %th.col-xs-1.col-lg-1 年次
        %th.col-xs-1.col-lg-1
      - @lessons.each do |lesson|
        %tr
          %td= lesson.name
          %td= lesson.teacher.name
          %td= lesson.textbook
          %td= lesson.referencebook
          %td= lesson.unit
          %td= lesson.gread_id
          %td
            - arrey = []
            = form_for(@user_status, :url=>{:controller=>"top", :action=>"create"}) do |f|
              - Lesson.where('code = ?', lesson.code).each do |l|
                - arrey << l.id
              = f.hidden_field :lesson_ids, value: arrey
              = f.submit "追加", class: 'btn btn-info'
  - else
    - if params[:term_id] == "1"
      %h3 前期の取得可能の授業はありません
    - else
      %h3 後期の取得可能授業はありません
  = link_to"トップに戻る" ,"/", class: "btn btn-success mt-3"
