<% if params[:wday] == "0" %>
  <% wwday = "月" %>
<% elsif params[:wday] == "1" %>
  <% wwday = "火" %>
<% elsif params[:wday] == "2" %>
  <% wwday = "水" %>
<% elsif params[:wday] == "3" %>
  <% wwday = "木" %>
<% elsif params[:wday] == "4" %>
  <% wwday = "金" %>
<% else %>
  <% wwday = "土" %>
<% end %>

<% ppiriod =params[:piriod].to_i%>
<% ppiriod = ppiriod + 1%>


<h3><%= wwday %>曜日<%= ppiriod %>時間目の授業</h3>
<% if @lessons.present? %>
  <table>
    <tr>
      <th>授業名</th>
      <th>教室番号</th>
      <th>先生名</th>
      <th>教科書名</th>
      <th>参考書名</th>
      <th>単位数</th>
      <th></th>
    </tr>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= lesson.room_number %></td>
        <td><%= lesson.teacher.name %></td>
        <td><%= lesson.textbook %></td>
        <td><%= lesson.referencebook %></td>
        <td><%= lesson.unit %></td>
        <%= form_for(@user_status, :url=>{:controller=>"top", :action=>"create"}) do |f| %>
          <%= f.hidden_field :lesson_id, value: lesson.id %>
          <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
          <td><%= f.submit "追加" %></td>
        <% end %>
      </tr>
    <% end %>
  </tabel><br/>
<% else %>
  <h3>取得可能の授業がありません</h3>
<% end %>
<%= link_to"トップに戻る" ,"/" %>
