.content
  .card.card-container
    %h3 プロフィール編集
    = form_for(@user) do |f|
      %br/
      = f.label "学科"
      %br/
      = f.collection_select :department_id, Department.all, :id, :name
      %br/
      = f.label "学年"
      %br/
      = f.collection_select :gread_id, Gread.all, :id, :gread
      = f.label "年"
      %br/
      = f.submit"更新する", class: 'btn btn-success mgs'
