- if @lesson.errors.any?
  #error_explanation.alert.alert-danger
    %ul
      - @lesson.errors.full_messages.each do |message|
        %li= message
%div
  = form_for (@lesson) do |f|
    %h3= f.label "学部・学課選択"
    = f.collection_select :department_id, Department.all, :id, :name, {}, disabled: true
    %h3= f.label"年度・期間"
    = f.collection_select :year_id, Year.all, :id, :year
    = f.collection_select :term_id, Term.all, :id, :term
    %h3= f.label"先生"
    = f.collection_select :teacher_id, Teacher.all, :id, :name
    %h3= f.label"受講可能学年"
    %label
      = f.radio_button :gread_id, 0 ,{:checked => true}
      誰でも受講可
    %label
      = f.radio_button :gread_id, 1
      2年生以上受講可
    %label
      = f.radio_button :gread_id, 2
      3年生以上受講可
    %label
      = f.radio_button :gread_id, 3
      4年生以上受講可
    %h3= f.label"取得単位数"
    = f.select(:unit,[[2],[1]])
    = f.label"単位"
    %h3= f.label "何曜？"
    %label
      = f.radio_button :wday, 0 ,{:checked => true}
      月曜
    %label
      = f.radio_button :wday, 1
      火曜
    %label
      = f.radio_button :wday, 2
      水曜
    %label
      = f.radio_button :wday, 3
      木曜
    %label
      = f.radio_button :wday, 4
      金曜
    %label
      = f.radio_button :wday, 5
      土曜
    %h3= f.label "何限？"
    %label
      = f.radio_button :period, 0 ,{:checked => true}
      1限
    %label
      = f.radio_button :period, 1
      2限
    %label
      = f.radio_button :period, 2
      3限
    %label
      = f.radio_button :period, 3
      4限
    %label
      = f.radio_button :period, 4
      5限
    %label
      = f.radio_button :period, 5
      6限
    %label
      = f.radio_button :period, 6
      7限
    %h3= f.label "授業名"
    = f.text_field :name, placeholder:"授業名"
    %h3= f.label "教科書"
    = f.text_field :textbook, placeholder:"教科書名"
    %h3= f.label "参考書"
    = f.text_field :referencebook, placeholder:"参考書"
    = f.submit "授業登録"
