.container
  .card.card-container
    %img#profile-img.profile-img-card{:src => "//ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
    %p#profile-name.profile-name-card
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :メールアドレス
        %br/
        .login-form
          = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :パスワード
        %br/
        .login-form
          = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :ログインを維持しますか？
      %button.btn.btn-lg.btn-primary.btn-block.btn-signin{:type => "f.submit"} ログイン
    = render "devise/shared/links"


-# .container
-#   .card.card-container
-#     %img#profile-img.profile-img-card{:src => "//ssl.gstatic.com/accounts/ui/avatar_2x.png"}/
-#     %p#profile-name.profile-name-card
-#     %form.form-signin
-#       %span#reauth-email.reauth-email
-#       %input#inputEmail.form-control{:autofocus => "", :placeholder => "Email address", :required => "", :type => "email"}/
-#       %input#inputPassword.form-control{:placeholder => "Password", :required => "", :type => "password"}/
-#       #remember.checkbox
-#         %label
-#           %input{:type => "checkbox", :value => "remember-me"}/
-#           Remember me
-#       %button.btn.btn-lg.btn-primary.btn-block.btn-signin{:type => "submit"} Sign in
-#     / /form
-#     %a.forgot-password{:href => "#"}
-#       Forgot the password?
  / /card-container
/ /container

-# .container
-#   .row
-#     .col-md-12
-#       .pr-wrap
-#         .pass-reset
-#           %label
-#             Enter the email you signed up with
-#           %input{:placeholder => "Email", :type => "email"}/
-#           %input.pass-reset-submit.btn.btn-success.btn-sm{:type => "submit", :value => "Submit"}/
-#       .wrap
-#         %p.form-title
-#           Sign In
-#         %form.login
-#           %input{:placeholder => "Username", :type => "text"}/
-#           %input{:placeholder => "Password", :type => "password"}/
-#           %input.btn.btn-success.btn-sm{:type => "submit", :value => "Sign In"}/
-#           .remember-forgot
-#             .row
-#               .col-md-6
-#                 .checkbox
-#                   %label
-#                     %input{:type => "checkbox"}/
-#                     Remember Me
-#               .col-md-6.forgot-pass-content
-#                 %a.forgot-pass{:href => "javascription:void(0)"} Forgot Password