.hidden-xs
  %header
    = link_to '/' do
      %img.logo-marks{:alt => "ふぁしり", :src => "/assets/facili_logo_mark.png", class: 'mt-2'}
    .head-btns.pull-right.mt-3
      - if user_signed_in?
        = link_to"プロフィール編集", "/users/#{current_user.id}/edit", class: "btn btn-success py-4"
        = link_to"ログアウト",destroy_user_session_path, method: :delete, class: "btn btn-warning py-4"
        = link_to'このサイトの使い方','/top/information', class: "btn btn-primary mr-2 py-4"
        - if current_user.permission == "administrator"
          = link_to"授業登録","/lessons/new", method: :get, class: "btn btn-light"
      - else
        = link_to"新規登録",new_user_registration_path, class: "btn btn-success py-4"
        = link_to"ログイン",new_user_session_path, class: "btn btn-info py-4"
        = link_to'このサイトの使い方','/top/information', class: "btn btn-primary py-4"
  %hr.top.mt-3

.visible-xs-block
  %header
    .main-head
      .row
        = link_to '/' do
          %img.logo-marks{:alt => "ふぁしり", :src => "/assets/facili_logo_mark.png", class: 'mt-2'}
        -# .pull-right.my-auto.mr-0
        -#   = search_form_for(@q, :url=>{:controller=>"top", :action=>"search"}) do |f|
        -#     = f.search_field :name_cont, {:placeholder => '授業名'}
        -#     .pull-right
        -#       = f.submit '検索', class: 'btn btn-secondary ml-2'
    .sub-head.mt-2.pt-3.bg-light.text-center
      - if user_signed_in?
        %div
          = link_to'/', class: 'home-icon' do
            %i.fas.fa-home.fa-3x
            %p HOME
        %div
          = link_to"/users/#{current_user.id}/edit" do
            %i.fas.fa-address-card.profile-icon.fa-3x
            %p プロフィール設定
        %div
          = link_to destroy_user_session_path, method: :delete do
            %i.fas.fa-sign-out-alt.signout-icon.fa-3x
            %p ログアウト
        %div
          = link_to'/top/information' do
            %i.fas.fa-info-circle.info-icon.fa-3x
            %p このサイトの使い方
      - else
        %div
          = link_to new_user_registration_path do
            %i.fas.fa-user-plus.signup-icon.fa-3x
            %p 新規登録
        %div
          = link_to new_user_session_path do
            %i.fas.fa-sign-in-alt.signin-icon.fa-3x
            %p ログイン
        %div
          = link_to '/top/information' do
            %i.fas.fa-info-circle.info-icon.fa-3x
