%body
  %nav.navbar.navbar-expand-md.navbar-dark.fixed-top.mt-3
    %a{:href => "/top"}
      %img.logo-mark{:alt => "ふぁしり", :src => "/assets/facili.png"}
    %a{:href => "/top"}
      %img.logo{:alt => "ふぁしり", :src => "/assets/facili_logo.png"}
    %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto.pull-right
        %li.nav-item.active
          - if user_signed_in?
            %li.nav-link= link_to"プロフィール編集", "/users/#{current_user.id}/edit", class: "btn btn-success"
            %li.nav-link= link_to"ログアウト",destroy_user_session_path, method: :delete, class: "btn btn-warning"
            - if current_user.permission == "administrator"
              %li.nav-link= link_to"授業登録","/lessons/new", method: :get
          - else
            %li.nav-link= link_to"新規登録",new_user_registration_path, class: "btn btn-success"
            %li.nav-link= link_to"ログイン",new_user_session_path, class: "btn btn-info"
  %hr.top