<!DOCTYPE html>
<html>
<head>
  <title>SampleFacili4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a href="/top"><img alt="ふぁしり" src="/images/facili_logo.png" /></a>
    <% if user_signed_in? %>
      <ul>
        <li><%= link_to"ログアウト",destroy_user_session_path, method: :delete %></li>
        <li><%= link_to"プロフィール編集", "/users/#{current_user.id}/edit" %></li>
        <% if current_user.permission == "administrator" %>
          <li><%= link_to"授業登録","/lessons/new", method: :get %></li>
        <% end %>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to"新規登録",new_user_registration_path, class: "new" %></li>
        <li><%= link_to"ログイン",new_user_session_path, class: "new" %></li>
      </ul>
    <% end %>
  </header>

<%= yield %>

</body>
</html>
