!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Bootstrap Sample
    / BootstrapのCSS読み込み
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / jQuery読み込み
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    / BootstrapのJS読み込み
    %script{:src => "js/bootstrap.min.js"}
  %body
    %header
      %ul
        %li
          %a{:href => "/top"}
          %img.logo{:alt => "ふぁしり", :src => "/assets/facili_logo.png"}/
        - if user_signed_in?
          %li= link_to"ログアウト",destroy_user_session_path, method: :delete
          %li= link_to"プロフィール編集", "/users/#{current_user.id}/edit"
          - if current_user.permission == "administrator"
            %li= link_to"授業登録","/lessons/new", method: :get
        - else
          %ul
            %li= link_to"新規登録",new_user_registration_path, class: "new"
            %li= link_to"ログイン",new_user_session_path, class: "new"
    = yield